.twitch-digits {
    height: 100%;
}
.twitch-digits .main {
    height: calc(85% - 2em - 20px);
    margin: 0 20px;
    position: relative;
}

/* header */
.twitch-digits .header {
    position: relative;
    text-align: center;
    height: 15%;
}
.twitch-digits .header .header-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.twitch-digits .header .logo {
    display: inline-block;
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: -0.05em;
    border-bottom: none;
    margin-bottom: 0.075em;
}
.twitch-digits .header .chart-label {
    letter-spacing: 0.025em;
}
.twitch-digits .fork-me {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 25%;
}

/* loader */
.twitch-digits .walking-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.twitch-digits.loading .walking-loader {
  display: block;
}

/* error */
.twitch-digits .error-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}
.twitch-digits.error .error-modal {
    display: block;
}

/* main */
.twitch-digits .main {
  visibility: hidden;
}
.twitch-digits.initialized .main {
  visibility: visible;
}

/* control panel */
.twitch-digits .control-panel {
    transition: 0.3s opacity, 0.3s transform;
}
.twitch-digits.error .control-panel {
    opacity: 0;
}
.twitch-digits .control-content {
    font-size: 0.7em;
}
.twitch-digits .snapshot-menu {
    position: absolute;
    top: 2.3em;
    bottom: 0;
    left: 0;
    right: 0;
}

/* chart */
.twitch-digits .snapshot-chart {
    transition: 0.3s opacity;
}
.twitch-digits.initialized.loading .snapshot-chart,
.twitch-digits.error .snapshot-chart {
    opacity: 0;
}

/* tooltips */
.twitch-digits .__react_component_tooltip {
    letter-spacing: 0.05em;
    padding: 0.2em 0.5em;
    font-size: 13px;
    border-radius: 5px;
}
.twitch-digits .__react_component_tooltip.type-dark.border {
    border-color: #dfd7ef;
}
.twitch-digits .__react_component_tooltip.type-dark.border.place-top:before {
    border-top-color: #dfd7ef;
}
.twitch-digits .__react_component_tooltip.type-dark.border.place-right:before {
    border-right-color: #dfd7ef;
}
.twitch-digits .__react_component_tooltip.type-dark.border.place-bottom:before {
    border-bottom-color: #dfd7ef;
}
.twitch-digits .__react_component_tooltip.type-dark.border.place-left:before {
    border-left-color: #dfd7ef;
}
.twitch-digits .__react_component_tooltip.type-dark.place-top:after {
  border-top-color: rgb(100, 65, 165);
}
.twitch-digits .__react_component_tooltip.type-dark.place-right:after {
  border-right-color: rgb(100, 65, 165);
}
.twitch-digits .__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: rgb(100, 65, 165);
}
.twitch-digits .__react_component_tooltip.type-dark.place-left:after {
  border-left-color: rgb(100, 65, 165);
}
.twitch-digits .__react_component_tooltip.place-top {
  margin-top: -7px;
}
.twitch-digits .__react_component_tooltip.show {
  opacity: 1;
}
.twitch-digits .__react_component_tooltip.type-dark {
  background-color: rgb(100, 65, 165);
}

/* responsive */
@media (max-width: 480px) {
    .twitch-digits .header .logo {
        font-size: 2.5em;
    }
}
