/* # Chart
================================================== */

.chart {
  display: block;
  position: relative;
  margin: 0 auto;
}

.chart path {
  stroke: #fff;
  stroke-width: 0.25;
  transition: opacity 0.2s ease-in-out;
}

.chart.clickable path {
  cursor: pointer;
}

.chart.active path {
  opacity: 0.3;
}

.chart.active path.current {
  opacity: 1;
}

.chart.zoomed path.game {
  opacity: 0;
}

.chart .game__other,
.chart .channel__other {
  display: none;
}
